[2020-10-22 19:10] #146 closed

[2020-10-23 23:54] davidnuzik opened #148 "Migrate K3S infrastructure to CNCF"
### First and Last Name
Dave Nuzik

### Email
david.nuzik@rancher.com

### Company/Organization
Rancher Labs

### Job Title
Project Manager

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)
Migrate K3S infrastructure to CNCF

### Briefly describe the project (i.e., what is the detail of what you're planning to do with

[2020-10-27 22:39] caniszczyk commented on #148
+1

[2020-10-27 23:55] taylorwaggoner commented on #148
@davidnuzik I've added you to a K3s project in Equinix Metal (formerly Packet).  Let me know if you want to add anyone else to the project.  Thanks!

[2020-10-29 01:03] davidnuzik commented on #148
Thanks! We're all set

[2020-11-09 21:22] vielmetti commented on #135
Hi Alex @AlexsJones

When I search your repos for "ancient tomb" https://github.com/search?q=user%3AAlexsJones+ancient+tomb I don't find anything relevant - is there code available yet, or is the project dependent on having hardware before starting?

[2020-11-09 21:25] AlexsJones commented on #135
Thanks @vielmetti for asking. I've created this repository https://github.com/AlexsJones/kubeops which should give a measure of what I'm trying to do in terms of simplifying operators to a simple interface as well as research into the current api generators.

The real continuation of this is predicated on the full lifecycle of cluster deployment and reconciliation testing etc.

Let me know if you

[2020-11-11 20:46] v-bilous opened #151 "Cluster for experiments and tests difhub-codegen"
### First and Last Name
Vova Bilous

### Email
vova.bilous@hotmail.com

### Company/Organization
bilous.pro

### Job Title
Principal Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)
Metadata Driven cloud-native microservice system built using the code generator

### Briefly describe the project (i.e.

[2020-11-12 12:31] vielmetti commented on #135
Thanks @AlexsJones ! @caniszczyk @taylorwaggoner can you please take a look? thanks!

[2020-11-12 14:01] vielmetti commented on #67
This code is now running at https://cs.k8s.io - thanks @dims !

A recent update put this on a new box.

https://twitter.com/dims/status/1326879034484150276

[2020-11-12 16:03] vielmetti commented on #67
The code that's running is the code search engine Hound, https://github.com/hound-search/hound originally from Etsy.

[2020-11-16 06:29] mameshini opened #152 "Kubeflow Testing Infrastructure"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2020-11-16 07:54] lukaszgryglicki opened #153 "Hardware for DevStats Kubernetes cluster"
### First and Last Name
Łukasz Gryglicki

### Email
lgryglicki@cncf.io

### Company/Organization
CNCF

### Job Title
Senior Software Developer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)
DevStats - an open-source tool created at CNCF to track various contributors/community metrics of CNCF projects.

### Briefly d

[2020-11-16 07:54] lukaszgryglicki commented on #153
cc @caniszczyk @idvoretskyi @pritianka

[2020-11-16 08:50] idvoretskyi commented on #153
cc @vielmetti

[2020-11-16 14:07] vielmetti commented on #153
Talked to @lukaszgryglicki about this last week and we're good on this - I think the best machine allotment is 4x m3 which have more fast disk than the current m1 based systems. Target dates are as expected. 👍 from us.

[2020-11-17 01:25] taylorwaggoner commented on #153
@vielmetti @lukaszgryglicki  do we need a new DevStats project to be created?  I see we already have an active one in our account.

[2020-11-17 01:27] vielmetti commented on #153
We don't need a new project - this will just be additional servers on the current project, with two sets of servers running for a bit and then once the work is completed the original systems turned back to the pool. @taylorwaggoner

[2020-11-17 06:31] lukaszgryglicki commented on #153
Yes, exactly.

[2020-11-17 12:46] vielmetti commented on #152
cc @caniszczyk @idvoretskyi @pritianka @taylorwaggoner

I talked to @mameshini last week and have plans to join in the weekly sig-onprem call for Kubeflow on Friday. I don't see any problems with providing the equipment, and it may make sense to engage the CNCF CI team since that project feels like ti's a direct match for these requirements.

👍

[2020-11-19 19:17] prezha opened #154 "Allocation of Equinix Metal (Packet) IS to minikube integration testing for VM-drivers project"
### First and Last Name

- Medya Ghazizadeh
- Predrag Rogic

### Email

- medya@google.com
- predrag.rogic@gmail.com

### Company/Organization

Google

### Job Title

Senior Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

minikube integration testing for VM-drivers

### Briefly describe the project

[2020-11-19 19:25] idvoretskyi commented on #154
@vielmetti please take a look.

cc @caniszczyk @taylorwaggoner

[2020-11-19 19:31] caniszczyk commented on #154
+1

On Thu, Nov 19, 2020 at 1:26 PM Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-11-19 19:38] vielmetti commented on #154
Regarding Windows licenses, here's the information I have:

https://metal.equinix.com/developers/docs/operating-systems/licensed/

Before proceeding, we should verify that this will be suitable, and if they are not we can talk to our friends who make Windows images to learn more about what might be necessary.

[2020-11-19 20:08] prezha commented on #154
@vielmetti from the list, 3 x windows server standard 2019 will do, thanks!

[2020-11-20 14:21] vielmetti opened #155 "Update Equinix Metal contribution from $25,000/mo to $1m/year"
There's a couple of places in the text and web site where we reference the size of the Equinix Metal contribution. With this press release we announce that @equinix is upping its support for this from $25,000/mo to $1 million/yr.

PR: https://www.prnewswire.com/news-releases/equinix-triples-investment-in-cloud-native-computing-foundation-to-fuel-open-source-innovation-301175777.html
Press: https:/

[2020-11-20 14:25] vielmetti commented on #155
attn @taylorwaggoner

[2020-11-23 21:33] vielmetti opened #156 "Add @vielmetti as co-owner of this repo"
I'd like to set up the repo with some tags and tooling so we can categorize incoming requests and streamline the approval process and close out some old unfulfilled requests effectively.

I'm open to either a /-command based effort for adding tags, or just adding me in (as a representative of @equinix ) as co-owner.

[2020-11-23 21:34] vielmetti commented on #156
@caniszczyk @idvoretskyi

[2020-11-24 09:00] idvoretskyi commented on #156
@vielmetti I went ahead and submitted a PR to fix this - https://github.com/cncf/cluster/issues/156; looking for @caniszczyk's final review.

[2020-11-24 18:23] #156 closed

[2020-11-24 19:51] svenstaro opened #158 "Add Arch Linux team members to packet.net CNCF project"
I'd like to request the addition of @jelly (`jelle@vdvaa.nl`) and @freswa (`frederik.schwan@linux.com`) to the CNCF Arch Linux packet.net project. I was [earlier added to this project myself here](https://github.com/cncf/cluster/issues/102).

[2020-11-24 19:52] jelly commented on #158
Confirming that the above is correct.

[2020-11-24 19:52] freswa commented on #158
Confirming that the above is correct.

[2020-11-25 00:37] taylorwaggoner commented on #158
@svenstaro @jelly I've added both, thanks!

[2020-11-25 00:37] #158 closed

[2020-11-26 19:37] jelly commented on #158
I am very sorry, I have made a typo in my email address it should be jelle@vdwaa.nl

[2020-12-01 14:03] #155 closed

[2020-12-01 14:23] vielmetti commented on #155
Thanks @idvoretskyi !

[2020-12-01 14:49] vielmetti commented on #154
@idvoretskyi I was going to add an "approved" label, but for some reason the changes in #157 didn't seem to take and I don't have access to the little Github "gear" icon to do that.

[2020-12-01 14:58] idvoretskyi commented on #154
@vielmetti this is weird, let me check this.

Want me to go ahead and add the label for you in the meantime?

[2020-12-01 15:14] vielmetti commented on #154
Yes, please do, and then I'll get a start on this.

[2020-12-01 15:15] idvoretskyi commented on #154
@vielmetti here we go, a new label created and assigned.

[2020-12-01 15:16] prezha commented on #154
@idvoretskyi @vielmetti thank you both!
what are the next steps?

[2020-12-01 15:25] vielmetti commented on #154
@prezha - Next step is for me to open a ticket with our Service Delivery team at Equinix Metal, and get your project set up. I'm expecting that to complete this afternoon. You'll want to create accounts at https://metal.equinix.com for each person who is involved in the project, and then I'll invite project collaborators to a new project inside the CNCF organization.

You'll want to schedule a tim

[2020-12-01 15:36] idvoretskyi commented on #154
@idvoretskyi awesome, let's discuss this separately!

[2020-12-01 15:45] prezha commented on #154
excellent, thanks @vielmetti !
as advised, we'll create accounts and schedule a call with you soon and take it from there

[2020-12-01 15:50] vielmetti opened #159 "Formalize CNCF CIL approval process between CNCF and Equinix Metal; improve project reporting"
@idvoretskyi - I've gone through a bunch of process improvement work for the @WorksOnArm project and have some suggestions for how we can learn from this for the CNCF CIL effort which is roughly the same procedures. We have some workflows and boilerplate text and an Excel worksheet to analyze the usage, all of which I think would be worthwhile learning from and/or copying wholesale.

I'll have som

[2020-12-01 16:34] idvoretskyi commented on #159
Awesome, thanks!

FYI @caniszczyk @pritianka @taylorwaggoner

[2020-12-04 15:02] vielmetti commented on #159
@taylorwaggoner and I have a meeting scheduled for 2020-12-10 (Thursday) to review planning for 2021 and to look at reporting and accounting for usage analysis.

[2020-12-04 15:23] vielmetti commented on #153
/label approved

@lukaszgryglicki - let me know your plans and timing on this, and if you need any assistance.

[2020-12-04 15:30] lukaszgryglicki commented on #153
Planning is to wait for Kubernetes release v1.20.1 (to avoid v1.20.0), hopefully all other stuff will be also ready by then.

[2020-12-10 21:24] taylorwaggoner commented on #152
@caniszczyk can we please get your +1? thanks!

[2020-12-10 21:28] taylorwaggoner commented on #135
@caniszczyk please review, thanks!

[2020-12-10 21:29] taylorwaggoner commented on #134
@wangaoran are you still interested in pursuing this? Have you been in touch with the folks from the CNF testbed? thanks!

[2020-12-10 21:31] taylorwaggoner commented on #130
If you're looking to learn Kubernetes and related technologies, please try out Katacoda. https://www.katacoda.com/courses/kubernetes/playground

thanks!

[2020-12-10 21:31] #130 closed

[2020-12-10 22:07] caniszczyk commented on #135
+1

On Thu, Dec 10, 2020 at 3:28 PM Taylor Waggoner <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-12-12 21:52] lukaszgryglicki commented on #153
Hi, can I request this ASAP? I would start working next week.
Thanks!
cc @vielmetti @caniszczyk @idvoretskyi

[2020-12-14 13:35] vielmetti commented on #153
@lukaszgryglicki this is approved - you can deploy the systems in question in SV15 as on-demand, and we can rework the reservations if needed once you are ready to move over permanently.

[2020-12-14 15:38] lukaszgryglicki commented on #153
Just to be sure - can you point me to the exact location where should I reserve those servers, what exact names? Will they have those big NVMe volumes by default? Or any additional steps are needed? Wanted to have as many details as possible...
Thanks a lot.

[2020-12-15 11:30] lukaszgryglicki commented on #153
OK, deployed 4 server on-demand in SV15 - created 7.5T LVM volumes on each of them (LVM volume having 2 NVMe 3.8T disks) - will let you know when I move everything around so those servers would be converted to `Reserved` instances and previous 4 returned to Equinix pool...

[2020-12-15 23:34] anupdhml opened #160 "Machine request for Tremor benchmarking"
### First and Last Name

Anup Dhamala

### Email

adhamala@wayfair.com

### Company/Organization

Wayfair

### Job Title

Staff Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

Tremor benchmarking infrastructure

### Briefly describe the project (i.e., what is the detail of what you're planning to do with th

[2020-12-15 23:51] caniszczyk commented on #160
+1 approved

[2020-12-17 09:12] lukaszgryglicki commented on #153
OK, servers are switched, then old ones can be deleted/reused by `Equinix`:

So please delete/recycle master.k8s.devstats.cncf.io, node-0.k8s.devstats.cncf.io, node-1.k8s.devstats.cncf.io, node-2.k8s.devstats.cncf.io all in `SJC1` region in DevStats project.

For the new ones devstats-master, devstats-node-0, devstats-node-1, devstats-node-2 (all in `SV15`) please make them `Reserved` (they are cu

[2020-12-17 19:10] lukaszgryglicki commented on #153
cc @vielmetti

[2020-12-18 22:36] taylorwaggoner commented on #154
All, the project has been set up and  predrag.rogic@gmail.com and medya@google.com have been invited to it, thanks

[2020-12-18 22:36] #154 closed

[2020-12-18 22:38] taylorwaggoner commented on #160
@anupdhml I've created the project and have invited you to it, thanks!

[2020-12-18 22:40] prezha commented on #154
@taylorwaggoner thanks !

[2020-12-19 00:19] anupdhml commented on #160
@taylorwaggoner thanks so much! I got the invite and I can see the project now from the equinix web console.

Could you also invite other Tremor maintainers (@darach @Licenser @mfelsche) to the project? Along with me, they will also be using the machine.

[2020-12-19 00:30] taylorwaggoner commented on #160
Sure @anupdhml!  Please provide their email addresses and I can add them, thanks!

[2020-12-19 02:01] taylorwaggoner commented on #135
@AlexsJones I've created the project and invited you to it, thanks!

[2020-12-19 02:25] anupdhml commented on #160
@taylorwaggoner sorry, forgot to include it earlier! Here they are: dennis@wayfair.com hgies@wayfair.com mwahl@wayfair.com

[2020-12-19 02:33] taylorwaggoner commented on #160
Done thanks!

[2020-12-19 19:16] Licenser commented on #160
Thank you!

[2020-12-22 12:59] lukaszgryglicki commented on #153
Hi, I see some of the servers already moved to the `Reserved` state, should I wait for all of them to move and drop the old ones? Or you will drop them? @vielmetti
Thanks a lot for the help!

[2020-12-22 15:09] vielmetti commented on #153
@lukaszgryglicki  I've moved all of the reservations now, so if you drop the old servers we'll be good to go.

[2020-12-22 15:25] lukaszgryglicki commented on #153
@vielmetti thanks, servers deleted.

[2020-12-22 15:34] #153 closed

[2021-01-15 22:47] whatnick commented on #43
Is there any reporting on the outcomes of this project and if so we would like to reproduce this work on AWS.

[2021-01-26 19:57] chavafg commented on #83
Hello,

I would like to check with if you are ok with us deploying an additional `c1.small.x86` server for running our metrics CI for the 2.x branch of Kata.
We currently use one `c1.small.x86` for the 1.x branch, but now we are in the phase of supporting 1.x and 2.x versions of Kata for a period of 6 months. For us it would be better to have another machine so we do not pollute the environments b

[2021-01-26 22:19] prezha commented on #154
@taylorwaggoner we have a couple of more collaborators to add/invite to the project, but we cannot do that by ourselves atm - is that due to our current permissions settings, or the process is to ask you directly every time?

[2021-01-27 16:25] vielmetti commented on #83
Sounds like a good approach to me, @taylorwaggoner @idvoretskyi can you confirm?

[2021-01-27 19:04] prezha commented on #154
@taylorwaggoner helped sort this out - we're all good now, thanks Taylor!

[2021-01-29 15:01] rawkode opened #161 "Tinkerbell Test Infrastructure Request"
### First and Last Name

David McKay

### Email

david@rawkode.com

### Company/Organization

Equinix Metal

### Job Title

Developer Advocate

### Project Title

Tinkerbell Test Infrastructure

### Briefly describe the project

The Tinkerbell project needs hardware for its specialised CI/CD runners and asset publishing

### Is the code that you’re going to run 100% open source? If so, what is the

[2021-01-29 15:02] caniszczyk commented on #161
+1 approved

On Fri, Jan 29, 2021 at 9:02 AM David McKay <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2021-01-29 19:36] taylorwaggoner commented on #161
@rawkode I've created a Tinkerbell project and invited you to it.  Please let me know if you have other people to invite to the project. thanks!

[2021-01-29 19:36] #161 closed

[2021-01-29 20:33] rawkode commented on #161
@thebsdbox @gianarb @detiber do you wanna drop your emails here?

[2021-02-01 22:02] scdatascience opened #162 "Locus Finder Project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-02-02 16:37] jeffhollan opened #163 "KEDA infra request: ARM processor for CI/CD build of ARM release"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-02-02 20:22] caniszczyk commented on #163
+1

[2021-02-03 17:53] taylorwaggoner commented on #163
@jeffhollan I've created the KETA project and invited you to it.  Please let us know if there are other people we should invite, just need their email addresses. thanks!

[2021-02-03 17:53] #163 closed

[2021-02-03 20:26] taylorwaggoner commented on #83
Sounds good to me @vielmetti

[2021-02-04 19:52] chavafg commented on #83
@vielmetti @taylorwaggoner thanks for your support. I have deployed the new server.

[2021-02-05 18:18] medyagh opened #164 "admin privilege for medyagh for equinix's project "minikube integration testing""
Hello, I am the TL for minikube and one of the maintainers, per conversation with Charlie Lane, I would like to ask for admin privililge to add/remove users to "minikube integration testing"

[2021-02-12 11:47] rawkode opened #165 "S3/GCS Access"
Hi,

I'm not sure if this is the correct location to ask for this. We, Tinkerbell, require access to S3 or GCS to store base images and LetsEncrypt certificates.

We don't wish to use Equinix Metal hardware for this, as it would require substantial effort to provide the redundancy and backup processes needed to ensure we don't lose data.

[2021-02-12 14:57] caniszczyk commented on #165
http://servicedesk.cncf.io to request cloud credits depending on your needs

Depending on the size of the images, would a private github repo work?

On Fri, Feb 12, 2021 at 5:47 AM David McKay <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-02-12 15:04] gianarb commented on #165
Hey @caniszczyk ! The one we currently have is ~100MB but it is just the beginning and it will grow quickly. I am not sure if leveraging a GitHub repository fits.

I want to mention that it does not need to be private. The idea is to keep those images publicly available. Ideally, it will be nice to avoid the overhead of having an entire AWS/GCP account for a single S3 bucket or equivalent.

Maybe

[2021-02-12 15:08] rawkode commented on #165
The S3 bucket we use to store the LetsEncrypt certs, and some other stuff, will need to be private.

[2021-02-12 15:11] gianarb commented on #165
Ah great! I missed that part thanks David!

[2021-02-12 16:16] rawkode commented on #165
I'll use service desk

[2021-02-12 16:16] #165 closed

[2021-02-22 18:51] idvoretskyi commented on #162
cc @vielmetti FYI

[2021-02-22 18:51] idvoretskyi commented on #159
@taylorwaggoner @vielmetti any further work is required on this?

[2021-02-22 19:37] vielmetti commented on #162
I can't find any code on https://github.com/scdatascience?tab=repositories - and it would seem to make sense for this project to be further along and establish something of a track record before getting these resources.

[2021-02-22 19:38] vielmetti commented on #159
I think we're good for now, closing.

[2021-02-22 20:25] caniszczyk commented on #162
ya -1 to this

[2021-02-22 20:25] #162 closed

[2021-02-22 20:26] caniszczyk commented on #164
@idvoretskyi can you verify if this is true and take care of it

[2021-02-22 20:26] caniszczyk commented on #152
+1

[2021-02-22 20:28] caniszczyk commented on #151
a cool idea but too small of a project for us to support

[2021-02-22 20:28] #151 closed

[2021-02-22 20:29] idvoretskyi commented on #164
@medyagh has there been a public issue/record for this that you can reference to?

[2021-02-22 20:41] idvoretskyi commented on #152
Awesome, I'll follow up on this.

[2021-02-22 20:49] vielmetti commented on #152
Attn @castrojo

[2021-02-22 21:05] v-bilous commented on #151
Hi @caniszczyk , thanks for the reply. Any chance to get minimal bare metal to setup simple k8s cluster for the startup?

[2021-02-22 21:06] fkautz commented on #152
Non binding +1

Kubeflow is critical infrastructure for many AI/ML pipelines. Given the nature of what kubeflow does, a proper community owned CI/CD will be extremely helpful in ensuring the long term health of the project.

[2021-02-23 16:02] idvoretskyi commented on #152
@mameshini invite sent!

[2021-02-25 00:05] flaper87 opened #166 "Requesting a C3 Small x86 server for curiefense CI"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-02-26 20:05] mameshini commented on #152
Thank you, I received the invite and created an account.  We are now going to discuss how to create K8S cluster with Istio.

[2021-02-26 20:57] caniszczyk commented on #166
+1

[2021-03-05 16:26] idvoretskyi commented on #166
@flaper87 Intive sent a few days ago, sorry for the late notice :)

[2021-03-05 16:55] flaper87 commented on #166
I've accepted the invite. Should I go ahead and create the node? or will you do that?

[2021-03-05 16:57] idvoretskyi commented on #166
@flaper87 go ahead!

[2021-03-09 12:10] idvoretskyi commented on #166
@flaper87 closing this for now, let me know if anything else is needed.

[2021-03-09 12:10] #166 closed

[2021-03-15 11:27] jpkrohling opened #167 "Server request for performance comparison between groupbytrace and tail-based sampling for OpenTelemetry"
### First and Last Name
Juraci Paixão Kröhling

### Email
jpkroehling at redhat dot com

### Company/Organization
Red Hat

### Job Title
Principal Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)
Performance comparison between groupbytrace and tail-based sampling for OpenTelemetry

### Briefly descri

[2021-03-15 11:54] caniszczyk commented on #167
+1

On Mon, Mar 15, 2021 at 5:28 AM Juraci Paixão Kröhling <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-03-17 10:38] IreneCaramatti opened #168 "Access to the cluster - Please"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-03-17 15:42] caniszczyk commented on #168
This doesn't seem to be an open source related thing, -1

[2021-03-17 15:42] #168 closed

[2021-03-19 09:14] jpkrohling commented on #167
Any news on this one?

[2021-03-19 09:14] jpkrohling commented on #167
cc @idvoretskyi

[2021-03-22 18:48] idvoretskyi commented on #167
@jpkrohling yep, I’ll follow up on this.

[2021-03-22 20:31] frouioui opened #169 "Request project access - Vitess continuous performance testing"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-03-23 17:57] idvoretskyi commented on #169
сс @caniszczyk for approval.

[2021-03-23 18:00] caniszczyk commented on #169
+1

On Tue, Mar 23, 2021 at 12:57 PM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-03-23 18:07] idvoretskyi commented on #169
@frouioui invite sent!

[2021-03-23 18:08] idvoretskyi commented on #167
@jpkrohling invite sent!

[2021-03-23 20:28] frouioui commented on #169
Got it, thank you!

[2021-03-23 22:31] sagikazarmark opened #170 "ARM based build and test environment for Dex"
### First and Last Name

Márk Sági-Kazár

### Email

- mark.sagikazar@gmail.com (preferred)
- marksk@cisco.com

### Company/Organization

Cisco (ET&I)

### Job Title

Engineering Technical Lead

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

[Dex](https://dexidp.io/) ARM CI environment

### Briefly describe the proj

[2021-03-24 08:40] jpkrohling commented on #167
Thanks, I got access to the team account!

[2021-03-24 08:40] #167 closed

[2021-03-24 10:28] #169 closed

[2021-03-25 19:09] catblade commented on #152
@caniszczyk  Request for myself and @jtfogarty to be added.  We are part of kubeflow on-prem and would like to work with @mameshini  to get this running.

[2021-03-25 19:11] idvoretskyi commented on #152
@catblade I think @mameshini should be able to add you directly.

If not, let me know.

[2021-03-25 21:17] catblade commented on #152
@idvoretskyi  He was not, and did try.

[2021-03-25 21:26] idvoretskyi commented on #152
@mameshini can you please approve this?

[2021-03-25 21:32] mameshini commented on #152
I approve adding @jtfogarty and @catblade as additional users.  I could not do via self-service console.

[2021-03-29 09:12] idvoretskyi commented on #152
@jtfogarty and @catblade, please let me know your email addresses, and I'll invite you.

[2021-03-30 16:08] ElytrA8 opened #171 "Request for Whole Android Community"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-03-30 16:48] sushmit1 commented on #171
Sir no words

[2021-03-30 16:59] TheCloverly commented on #171
@ElytrA8 Thanks for your contribution,We will stand with you :)

[2021-03-30 18:19] brucetech627 commented on #171
😃😃

[2021-03-31 03:25] flaahokiller commented on #171
😀

[2021-03-31 05:45] JamieHoSzeYui commented on #171
Good Job sir. Waiting for your good news!

[2021-03-31 05:49] sasukeuchiha-clan commented on #171
@ElytrA8 doing great work sir for Android Community.😉

[2021-03-31 06:10] Maitreya29 commented on #171
Doing epic work as usual, gg.
Looking forward to your development endeavours

[2021-03-31 06:13] sarthakroy2002 commented on #171
Great job

[2021-03-31 06:21] asjanib commented on #171
Awesome 😊☺️

[2021-03-31 12:31] durasame commented on #171
nice

[2021-04-01 04:50] Apon77 commented on #171
Hope for the best 🙂

[2021-04-01 06:48] manjotsidhu commented on #171
👍

[2021-04-01 13:26] SuperCosmicBeing commented on #171
If we get it, it'll help us a lot :)
Hope that we do get it...

[2021-04-01 14:27] caniszczyk commented on #171
Hey all, we are prioritizing cloud native open source projects, there's not enough detail here on what "android community" means - I'd recommend you look at applying for open source credits at AWS:

https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects/

[2021-04-01 14:27] #171 closed

[2021-04-01 14:27] caniszczyk commented on #170
+1

[2021-04-01 14:27] caniszczyk commented on #170
cc: @idvoretskyi

[2021-04-01 14:31] idvoretskyi commented on #170
@sagikazarmark on it!

[2021-04-01 14:52] ElytrA8 commented on #171
I meant android firmware developers from "android community"

[2021-04-01 14:54] ElytrA8 commented on #171
i.e android open source project "aosp"
Lineage os "los"

[2021-04-01 16:45] sagikazarmark commented on #170
@idvoretskyi Awesome, thanks!

[2021-04-01 16:56] idvoretskyi commented on #170
@sagikazarmark invite sent

[2021-04-01 19:05] sagikazarmark commented on #170
Thanks, received!

[2021-04-02 19:56] ItsVixano commented on #171
AOSP = Andoid Open Source Project "https://source.android.com/"
Is legit an OSS project

What @ElytrA8 means with 'Android Community', is a group of folks that enjoys contributing in some AOSP forks, or even contributing porting a device tree that will be used for

- Compiling AOSP for some specific devices
- Testing the trees and fixing problen over it

Sadly compiling AOSP, or his forks, needs a

[2021-04-05 16:00] manjotsidhu opened #172 "Request Access for a Cluster"
### First and Last Name
[Manjot Sidhu](http://manjotsidhu.com/)

### Email
manjot.gni@gmail.com
pitchblackrecovery@gmail.com

### Company/Organization
[PitchBlack Recovery Project](http://pitchblackrecovery.com/)

### Job Title
Undergraduate Engineering Student
Co-founder of PitchBlack Recovery Project

### Project Title
We at PitchBlack Recovery Project aka PBRP provides Android Recovery for [40+

[2021-04-07 16:26] jtfogarty commented on #152
@idvoretskyi did you get my slack message?

[2021-04-07 16:28] idvoretskyi commented on #152
@jtfogarty I don't think so - on which Slack? Feel free to DM me on CNCF Slack or email me directly :)

[2021-04-07 16:35] jtfogarty commented on #152
ah, I DMed you on kubeflow Slack

[2021-04-09 13:20] tbaums commented on #152
hey @idvoretskyi - just pinged you on slack. I'm co-chair of KF sig-onprem. Can I get access to our testing resources pls? I'll dm you on slack with my email.

[2021-04-09 13:25] DavidSpek commented on #152
Hi @idvoretskyi just like @tbaums I just pinged you on Slack with my email with regards to access to Equinix Metal.

[2021-04-13 16:40] vielmetti commented on #78
@tossmilestone

[2021-04-13 21:23] vielmetti commented on #77
@Miouge1 -

Here's a current look at your inventory on this project:

[code]

This is quite a few more machines than was originally described - can you take a look
and see if they are all in active use, and destroy any that are idle? Thanks!

cc @idvoretskyi @caniszczyk

[2021-04-14 00:39] tossmilestone commented on #78
@vielmetti
I have reduced the usage, please check it again. Thanks!

[2021-04-14 05:46] Miouge1 commented on #77
Thank you for catching this @vielmetti !

The `runner-*` spot instances are supposed to short lived (gitlab auto scaling runners with packet/equinix-metal docker-machine provider). It looks like sometimes there is a problem in the deletion/cleanup process:
[code]

I think we can use the [TerminationTime API option](https://github.com/packethost/packngo/blob/148dbd725d8c7982715185fddaf352f9ed7251a7

[2021-04-14 14:48] vielmetti commented on #78
Thanks! Closing this ticket again.

[2021-04-14 14:49] vielmetti commented on #77
Thanks @Miouge1 ! All set for now here, I'll close this and watch the issue upstream.

[2021-04-14 14:53] vielmetti commented on #77
Upstream issue is https://github.com/equinix/docker-machine-driver-metal/pull/59 to add a TTL parameter so that machines can be created with short expected lifetimes.

[2021-04-19 23:31] hh opened #173 "{registry,artefact}.k8s.io Project (CNCF/K8s Infra WG)"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-04-19 23:43] caniszczyk commented on #173
+1

[2021-04-20 13:07] vielmetti commented on #169
Noted here https://github.com/vitessio/arewefastyet/issues/26 that the current test infra spins up and spins down a lot of machines - with a possible optimization to reuse an already-provisioned system to run additional tests.

[2021-04-22 21:05] jbemmel opened #174 "Jitsi@scale project for Hackathon 26th of April - 10th of May 2021"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-04-29 04:33] wy65701436 opened #175 "Harbor Arm nightly testing resources request"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-04-29 07:06] frouioui opened #176 "Request project access Vitess-perf-testing"
cc @GuptaManan100

### First and Last Name

Manan Gupta

### Email

manan@planetscale.com

### Company/Organization

PlanetScale

### Job Title

Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

[Arewefastyet](https://github.com/vitessio/arewefastyet) - Nightly Performance Testing of Vitess

### Brie

[2021-05-07 13:07] caniszczyk commented on #175
+1 cc: @idvoretskyi @amye

[2021-05-07 13:52] idvoretskyi commented on #176
cc @caniszczyk for approval.

[2021-05-07 15:09] wy65701436 commented on #175
thanks @idvoretskyi , got your inviation and joined into the project, can I just depoly the On-Demand arm based servers as mentioned above?

[2021-05-07 15:13] caniszczyk commented on #176
+1

On Fri, May 7, 2021 at 8:53 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-05-10 16:39] vielmetti commented on #142
@anishakj @Ranganaths8 -

I've sent you both email regarding the end of life of the Equinix Metal block storage service. This will impact your pravega-operator testing efforts. I'm happy to provide any assistance here or via email.

[2021-05-10 16:53] anishakj commented on #142
@vielmetti I have deleted all the storage volumes. Will the server creation will be impacted after  Equinix Metal block storage service is deprecated

[2021-05-11 12:23] idvoretskyi commented on #176
@frouioui invite sent!

[2021-05-17 20:16] vielmetti commented on #148
@davidnuzik -

We are taking one of the system types you are using (c1.large.arm.xda) out of service. Can you contact me (evielmetti@equinix.com by email, or here on Github) and we can make alternative arrangements? It should be the case that everything you need can be done with the c2.large.arm system type.

[2021-05-17 21:22] davidnuzik commented on #148
@vielmetti thanks I got your email we can discuss via email. I think migrating to the system type you propose should work. I will contact my team first and follow up with you via email.

[2021-05-19 22:26] vielmetti commented on #40
This project has been idle with no servers associated with it since 2019; I've deleted the associated project setup at Equinix Metal.

[2021-05-19 22:29] vielmetti commented on #53
The last servers in this project  were deleted in 2019; I've removed the rest of the project information from Equinix Metal.

[2021-05-19 22:34] vielmetti commented on #55
I've torn down the project associated with this request, as the task was completed.

[2021-05-19 22:35] vielmetti commented on #44
No infrastructure was ever provisioned for this project, so it's been marked as complete and removed.

[2021-05-19 22:37] vielmetti commented on #71
The bugs have been fixed and this project is complete; deleting it from Equinix Metal.

[2021-05-20 13:20] fmuyassarov opened #177 "Request compute resources for Metal3.io CI infrastucture"
### First and Last Name
Feruzjon Muyassarov

### Email
feruzjon.muyassarov@est.tech

### Company/Organization
Ericsson Software Technology

### Job Title
Experienced Developer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)
We would like to have some computing resources where we can run our integration/prow tests.

#

[2021-05-20 13:22] fmuyassarov commented on #177
/cc @idvoretskyi

[2021-05-20 13:38] idvoretskyi commented on #177
@fmuyassarov Thanks, but we are looking for a little more precise estimate :)

Can you please calculate a rough cost based on https://metal.equinix.com/product/pricing/

[2021-05-20 13:54] fmuyassarov commented on #177
Thanks @idvoretskyi and sorry for not being precise there. I will get back tomorrow with exact numbers.

[2021-05-20 13:56] idvoretskyi commented on #177
No problem!

On Thu, May 20, 2021 at 4:55 PM Feruzjon Muyassarov <
***@***.***> wrote:

--
Ihor Dvoretskyi ***@***.***>
Developer Advocate, Cloud Native Computing Foundation https://cncf.io/

[2021-05-20 14:00] caniszczyk commented on #177
+1

On Thu, May 20, 2021 at 8:56 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-05-20 14:06] idvoretskyi commented on #176
@frouioui is everything alright? Can we close this issue?

[2021-05-20 15:02] frouioui commented on #176
Everything is good thank you!

[2021-05-20 15:02] #176 closed

[2021-05-21 13:13] fmuyassarov commented on #177
Hello,
We have decided for now to put our request on hold, because it seems it is going to be quite expensive to request quite many servers and integrating them to our CI might take some time and effort. Instead we will try to discuss it with our current cloud provider to increase the limit. If that doesn't work and if there is a really urgent need for the physical servers we will come back and su

[2021-05-21 13:13] #177 closed

[2021-06-15 12:22] eighthave opened #178 "Request access for F-Droid buildserver stack development"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-06-21 18:49] caniszczyk commented on #178
This really doesn't have much to do with cloud native, -1

[2021-06-21 18:49] #178 closed

[2021-06-21 19:28] vielmetti commented on #118
@oilbeater The project currently has 3x c3.medium systems in our Tokyo (NRT1) data center that we are in need of for another project. I'm happy to provide alternatives in that same data center, or if those machines are no longer in use, to reclaim them. thanks! Ed

[2021-06-22 09:20] eighthave commented on #178
I think I didn't explain it well enough then.  Our central goal is to get secure release build infrastructure running on cloud infrastructure because it is so much more efficient.  The blocker has always been the requirement for trusting the hardware, secure release build infrastructure is still often run in house on bare metal to keep the threat profile manageable.

We have a fully reproducible s

[2021-06-23 02:17] realshuting opened #179 "Server request - large scale performance testing for Kyverno"
### First and Last Name
Shuting Zhao

### Email
shuting@nirmata.com

### Company/Organization
Nirmata

### Job Title
Senior Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

Performance testing on the large scale cluster

### Briefly describe the project (i.e., what is the detail of what you're plann

[2021-06-23 03:19] caniszczyk commented on #179
+1

On Tue, Jun 22, 2021 at 9:17 PM shuting ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-07-09 11:59] Roshan13046 opened #180 "Request for one c3.small server for LF Mentorship Project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-07-14 17:26] idvoretskyi commented on #179
@realshuting invited, apologies for the delay!

[2021-07-14 17:26] #179 closed

[2021-07-14 17:27] idvoretskyi commented on #180
cc @caniszczyk to take a look.

[2021-07-14 17:28] idvoretskyi commented on #174
Not valid anymore.

[2021-07-14 17:28] #174 closed

[2021-07-14 18:22] realshuting commented on #179
Thanks @idvoretskyi !

[2021-07-16 13:05] idvoretskyi commented on #173
This is done.

[2021-07-16 13:05] #173 closed

[2021-07-16 13:05] idvoretskyi commented on #83
This can be closed.

[2021-07-16 13:05] #83 closed

[2021-07-27 09:53] Roshan13046 commented on #180
It has been so long since I requested.
Can anyone please help me out?

[2021-07-29 21:08] spowelljr opened #181 "Remove user from `minikube integration testing`"
Please remove `izuyev@google.com` from the `minikube integration testing` project, thank you.

[2021-07-30 15:14] vielmetti commented on #78
Hello @tossmilestone  -

Your current configuration has 2 x1.small systems in our "hkg1" data center, which we are planning to close. We're evaluating alternative data centers to provide you with similar systems.

My assumption is that a location in Asia-Pacific would be best and that a second choice is western US (you have systems in Tokyo and in Silicon Valley right now) - any guidance as to you

[2021-07-30 15:25] tossmilestone commented on #78
@vielmetti I am ok with the Tokyo region. I will start the migration soon. Thanks!

[2021-07-30 15:35] vielmetti commented on #77
Hello @riverzhang and @Miouge1 -

The project "kubespray" currently has one host deployed to our `hkg1` data center, which is being taken offline.

If you could redeploy that system to a different data center that would be appreciated - I can help with specific locations if that's useful. It's likely that the nearest Asia data center with availability would be in Tokyo.

[2021-07-30 16:06] riverzhang commented on #77
@vielmetti I will start the migration soon. Thanks!

[2021-08-02 09:01] jpkrohling opened #182 "Request - machine to use with the performance tests for OpenTelemetry"
### First and Last Name
Juraci Paixão Kröhling (@jpkrohling)
Harshita Srinivas (@harshita19244)

### Email
jpkroehling at redhat dot com
harshita19244 at iiitd dot ac dot in

### Company/Organization
Red Hat
--

### Job Title
Principal Software Engineer
Intern for Outreachy's CNCF Tracing project (Jaeger and OpenTelemetry)

### Project Title (i.e., summary of what do you want to do, not what is th

[2021-08-02 19:23] idvoretskyi commented on #180
I'll let @caniszczyk make a decision, but I'm not sure if this project is in the scope of the Cloud Native lab.

[2021-08-02 19:23] caniszczyk commented on #180
This is fine +1

[2021-08-03 03:15] tossmilestone commented on #78
@vielmetti the migration has been done.

[2021-08-03 08:16] jpkrohling commented on #182
cc @idvoretskyi, @caniszczyk

[2021-08-03 09:13] idvoretskyi commented on #182
@jpkrohling thanks for submitting!

@caniszczyk PTAL

[2021-08-04 13:34] idvoretskyi commented on #182
@jpkrohling done!

[2021-08-04 13:34] #182 closed

[2021-08-04 13:34] idvoretskyi commented on #181
Done!

[2021-08-04 13:34] #181 closed

[2021-08-04 13:36] idvoretskyi commented on #180
Done!

[2021-08-04 16:35] spowelljr commented on #181
Thank you!

[2021-08-05 04:15] GuptaManan100 opened #184 "Vitess end to end testing port to Buildkite"
### First and Last Name
Manan Gupta

### Email
manan@planetscale.com

### Company/Organization
PlanetScale

### Job Title
Software Engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)
Vitess end to end testing porting to Buildkite

### Briefly describe the project (i.e., what is the detail of what you're planni

[2021-08-05 06:42] tomkerkhove commented on #163
Can you invite @zroubalik, @ahmelsayed & @tomkerkhove as well please?

[2021-08-05 07:21] idvoretskyi commented on #184
@GuptaManan100 I believe we can satisfy the server request, but before migrating to yet another CI tool, can you please explain in more details what your issues with GitHub Actions are?

[2021-08-05 09:51] GuptaManan100 commented on #184
@idvoretskyi For us the GitHub Actions have become extremely flaky. A lot of the tests fail because they were unable to start a mysql instance. This makes us rerun a lot of the tests. This causes each PR to get stalled for long and it is painful for the developers. Also this bug seems to GitHub Action specific, unable to replicate in local environment. I didn't run into this issue in BuildKite eit

[2021-08-09 19:19] jpkrohling opened #185 "Add gsoria to "OpenTelemetry Performance Tests" project"
As a follow-up of #182, would it be possible to please add @gsoria to the list of people with access to the project "OpenTelemetry Performance Tests" at Equinix? Her email address is soria.gaby@gmail.com . Thanks!

[2021-08-09 23:56] yasker opened #186 "New project and instances request for Longhorn project on performance enhancement development"
### First and Last Name
Sheng Yang

### Email
sheng@yasker.org

### Company/Organization
SUSE

### Job Title
Sr Engineering Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open-source project you're working with)
Longhorn Development

### Briefly describe the project (i.e., what is the detail of what you're planning to do with these servers?)
The

[2021-08-10 00:40] caniszczyk commented on #186
+1

On Mon, Aug 9, 2021 at 6:57 PM Sheng Yang ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-08-10 07:07] jpkrohling commented on #185
cc @idvoretskyi

[2021-08-10 08:01] idvoretskyi commented on #185
@jpkrohling sure, will take care of this!

[2021-08-10 10:05] idvoretskyi commented on #185
Invited!

[2021-08-10 10:05] #185 closed

[2021-08-10 10:07] idvoretskyi commented on #186
@yasker done!

[2021-08-10 10:07] #186 closed

[2021-08-10 14:34] yasker commented on #186
@idvoretskyi Received the invitation, thanks!

[2021-08-13 14:44] vielmetti commented on #78
Thanks @tossmilestone !

[2021-08-14 11:27] rkitindi opened #187 "Application: On-demand Infrastructure"
Dear Admin,

I have been working on a Telco Cloud Infra Project, design and implementation, and I witnessed a challenge. That is many mobile operators especially in Africa & LATAM will be lagging behind going cloud-native because of limited budget in testing which is very critical.

I started a project in Cloud-Lab, I want to build an open-source Infrastructure as a code for Telco Cloud Infrastruc

[2021-08-25 04:47] GuptaManan100 commented on #184
@idvoretskyi We have completed our experimentation and can now define our server needs. We request 2 c3.small servers which we would use for specific tests like `vreplication`. These servers would have to be running all the time.

[2021-08-25 11:19] idvoretskyi commented on #184
@GuptaManan100 we've sent out invites to your team a week ago, so feel free to go ahead and create the desired instances.

I'll mark this request as closed.

[2021-08-25 11:19] #184 closed

[2021-08-25 11:20] GuptaManan100 commented on #184
@idvoretskyi thankyou very much for your permission!

[2021-08-30 14:27] idvoretskyi commented on #152
Invite sent!

[2021-09-01 21:05] vielmetti commented on #108
@sclevine @idvoretskyi

We have a maintenance need for your instance "rhel-openshift-gh-runner", regarding RHUI.

Existing customers will need to either (1) Replace the RHUI client package after downloading the updated RPM.  OR  (2) Redeploy their server on to a replacement server which will automatically be running the latest RHUI client version.

RHEL7 customers will need to remove the packet RH

[2021-09-03 02:12] ksatchit opened #188 "Request Infrastructure for LitmusChaos project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-09-07 11:30] GuptaManan100 opened #189 "Addition of more members to Vitess CI project on Equinix"
### First and Last Name
Manan Gupta

### Email
manan@planetscale.com

### Company/Organization
PlanetScale

### Job Title
Software Engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)
Add more maintainers of Vitess to the Vitess CI project on Equinix

### Briefly describe the project (i.e., what is the detail o

[2021-09-07 11:52] idvoretskyi commented on #189
@GuptaManan100 I'll need the email addresses of the new folks to invite, please email them to me (ihor at cncf.io)

Thanks

[2021-09-07 12:17] idvoretskyi commented on #188
PTAL @caniszczyk for approval

[2021-09-07 13:16] caniszczyk commented on #188
+1

On Tue, Sep 7, 2021 at 7:17 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-07 13:19] idvoretskyi commented on #188
@ksatchit invited!

[2021-09-07 13:20] caniszczyk commented on #189
+1

On Tue, Sep 7, 2021 at 6:52 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-08 14:11] GuptaManan100 commented on #189
Closing the issue, since the invites have been sent

[2021-09-08 14:11] #189 closed

[2021-09-08 19:23] vielmetti commented on #108
Email sent. @sclevine I don't know if you are also on Slack.

[2021-09-08 19:58] jromero commented on #108
Hi @vielmetti, I'm the human responsible. 😁

I'll try to have this done by EOW if that's okay.

[2021-09-08 20:01] vielmetti commented on #108
@jromero Glad to have made contact! That timeframe will be great.

[2021-09-09 14:29] idvoretskyi commented on #152
Closing this one, feel free to email me directly if anyone else should be added.

[2021-09-09 14:29] #152 closed

[2021-09-09 14:36] caniszczyk commented on #172
-1, not cloud native related

[2021-09-09 14:36] #172 closed

[2021-09-09 16:21] davidnuzik commented on #148
@cjellick and @cwayne18 for awareness - did we complete transitioning Equinix infra to the new ARM systems?
cc: @brandond

[2021-09-09 17:17] brandond commented on #148
Yeah, I believe we're all done with that.

[2021-09-09 17:18] cwayne18 commented on #148
Yes, we're all set

[2021-09-09 17:23] davidnuzik commented on #148
I'm going to close this issue out. Thanks all :)

[2021-09-13 17:45] jromero commented on #108
@vielmetti, sorry for the delay. Our machine has been destroyed. We are re-evaluating whether we need to spin another RHEL machine up in it's place. Regardless, it sounds like this issue is now resolved.

[2021-09-16 14:26] #164 closed

[2021-09-16 14:26] #142 closed

[2021-09-16 14:26] #134 closed

[2021-09-16 14:26] #129 closed

[2021-09-16 14:26] #125 closed

[2021-09-16 14:26] #121 closed

[2021-09-16 14:26] #84 closed

[2021-09-17 23:28] vielmetti commented on #108
Thanks @jromero  - that works out perfectly for us. Closing this issue.

[2021-09-17 23:28] #108 closed

[2021-09-22 11:09] GiedriusS opened #190 "Request Infrastructure for Thanos project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-09-22 12:03] caniszczyk commented on #190
+1

On Wed, Sep 22, 2021 at 1:09 PM Giedrius Statkevičius <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-22 13:24] idvoretskyi commented on #190
@GiedriusS invite sent!

[2021-09-22 15:18] GiedriusS commented on #190
Thanks! I am registered there. I have a question, though: how could we grant access to other Thanos maintainers? Ideally, that would be automatic. This is so that other Thanos maintainers could manage those resources too and I wouldn't be a bottleneck or someone could take them over if something happened to me.

[2021-09-22 15:22] idvoretskyi commented on #190
Feel free to email me their emails, and I'll have them added (this is not
something that could be automated at this point of time, unfortunately).

On Wed, Sep 22, 2021 at 6:19 PM Giedrius Statkevičius <
***@***.***> wrote:

--
Ihor Dvoretskyi ***@***.***>
Developer Advocate, Cloud Native Computing Foundation https://cncf.io/

[2021-09-23 14:56] GiedriusS commented on #190
Could you please for now invite everyone from https://github.com/thanos-io/thanos/blob/main/MAINTAINERS.md?
[code]

After that is done, I think we can close this issue. Then, once everything is set up, I will add instructions to our documentation to create an issue here to get an invitation to that project.

[2021-09-29 14:52] vielmetti commented on #160
Reopening to inform the team of a maintenance event in FRA2.

[2021-10-12 17:16] jeffhollan opened #191 "Request additional users for KEDA ARM instances"
Per this related issue https://github.com/cncf/cluster/issues/163 wanted to give the other maintainers access to the subscription - currently my account is the only one that can manage these instances

[2021-10-12 17:16] jeffhollan commented on #191
@tomkerkhove

[2021-10-12 17:26] idvoretskyi commented on #191
@jeffhollan great, please email me with the list of emails you'd like me to invite.

[2021-10-13 05:42] tomkerkhove commented on #191
Thank you @idvoretskyi!

[2021-10-15 15:14] caniszczyk commented on #148
+1

On Fri, Oct 15, 2021 at 8:11 AM Edward Vielmetti ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-10-21 13:39] vielmetti commented on #115
@leecalcote - from the looks of it, this project was set up under the CNCF but no servers were ever provisioned. Can you help me confirm this? thanks Ed

[2021-10-21 13:42] vielmetti commented on #90
@lansio -

[2021-10-21 18:31] vielmetti commented on #136
@virendrasuryavanshi The infrastructure for this project from last year is still active - please let us know if you have completed your work.

[2021-10-22 20:24] alexmt opened #192 "Request Infrastructure for Argo project"
### First and Last Name

Alexander Matyushentsev

### Email

alexander_matyushentsev@intuit.com

### Company/Organization

Intuit

### Job Title

Principal Software Engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Self-hosted GitHub Action runners

### Briefly describe the project (i.e., what is the detail

[2021-11-01 22:33] spowelljr opened #193 "Add user to `minikube integration testing`"
Please add jklaas@google.com to the `minikube integration testing` project, thank you!

[2021-11-01 22:41] idvoretskyi commented on #193
Invite sent!

[2021-11-01 22:41] #193 closed

[2021-11-01 22:41] #191 closed

[2021-11-01 23:42] spowelljr commented on #193
Thank you @idvoretskyi!

[2021-11-03 07:57] tomkerkhove commented on #191
@idvoretskyi Can you please invite kerkhove.tom@gmail.com if Jeff did not request this yet?

[2021-11-03 11:22] idvoretskyi commented on #191
@tomkerkhove done!

[2021-11-03 17:48] anbraten opened #194 "Request Infrastructure for Woodpecker-CI project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2021-11-03 19:08] caniszczyk commented on #194
-1, we are prioritizing CNCF projects atm

[2021-11-03 19:08] #194 closed

[2021-11-05 08:20] tomkerkhove commented on #191
@zroubalik I think you'd like to have access as well right?

[2021-11-05 08:21] zroubalik commented on #191
yeah :)

[2021-11-05 13:04] jeffhollan commented on #191
😬 I must have pinged Tom only since he was asking me. @idvoretskyi if we can add @zroubalik as well

[2021-11-05 13:58] idvoretskyi commented on #191
@jeffhollan please DM me with the desired email address to add, happy to help!

[2021-11-12 17:15] frouioui opened #195 "Request project access Vitess-perf-testing"
### First and Last Name

Deepthi Sigireddi

@deepthi

### Email

deepthi@planetscale.com

### Company/Organization

PlanetScale

### Job Title

Software Engineer

### Project Title (i.e., summary of what do you want to do, not what is the name of the open source project you're working with)

[Arewefastyet](https://github.com/vitessio/arewefastyet) - Nightly Performance Testing of Vitess

### Brief

[2021-11-12 17:44] caniszczyk commented on #195
+1

On Fri, Nov 12, 2021 at 11:15 AM FlorentP ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-11-12 18:04] vielmetti commented on #195
@frouioui  -

As you are setting up test infrastructure for this, please consider using our Gen3 configs (m3, c3 etc) and deploying to the new Equinix Metal IBX facilities instead of the legacy Packet facilities.

As an example see https://metal.equinix.com/product/servers/m3-large/ for the m3.large (AMD Rome) specs - that's our current generation workhorse machine with good availability across a

[2021-11-12 18:24] idvoretskyi commented on #195
@frouioui you already should have access through #176, any issues with it?

[2021-11-15 06:56] frouioui commented on #195
Hello @vielmetti, thank you for the resources. Our team had planned to migrate to those non-legacy servers as part of 2021's Q4.

[2021-11-15 06:57] frouioui commented on #195
@idvoretskyi, I do have access, though I would like to give @deepthi (Deepthi Sigireddi) access to the project too.

[2021-11-15 07:48] idvoretskyi commented on #195
@frouioui got it, my apologies. Invited now!

[2021-11-15 09:40] frouioui commented on #195
No problem @idvoretskyi, thank you for the invitation.

[2021-11-17 16:46] deepthi commented on #195
I now have access to the project. This issue can be closed, thank you!

[2021-11-17 16:54] idvoretskyi commented on #195
@deepthi great!

[2021-11-17 16:54] #195 closed

[2021-12-07 10:49] dholbach opened #196 "Equinix Metal machines for Flux project"
### First and Last Name
Daniel Holbach

### Email
daniel@weave.works

### Company/Organization
Weaveworks

### Job Title
Community Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)
Set up Equinix Metal machines for ARM64 builds and testing for `/fluxcd` project

### Briefly describe the project (i.e., what is

[2021-12-07 10:52] idvoretskyi commented on #196
+1;

PTAL @caniszczyk

[2021-12-07 12:30] caniszczyk commented on #196
+1

On Tue, Dec 7, 2021 at 4:52 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-07 15:11] idvoretskyi commented on #196
@dholbach you're invited! I'll follow up through the CNCF SD.

[2021-12-07 15:11] #196 closed

[2021-12-08 15:51] dholbach commented on #196
Thanks again - being put to good use in https://github.com/fluxcd/flux2/pull/2191 already! <3

[2021-12-08 15:53] idvoretskyi commented on #196
Yay! 🔥

[2021-12-08 15:54] stefanprodan commented on #196
Thanks a lot for this 🙏

We'll use the 3rd instance to test Flux against Kubernetes Cluster API. For now we've provisioned two instances for Kubernetes Kind e2e tests.

[2021-12-10 14:38] barthalion commented on #56
Hey @vielmetti, any idea what has happened to sources.flathub.org? It hasn't been actively used lately, but it was definitely up, but I can't find it in Equinix Metal dashboard anymore.

[2021-12-14 15:31] idvoretskyi commented on #190
@GiedriusS this is done, apologies for the delay.

[2021-12-14 15:31] #190 closed

[2021-12-15 23:51] tidal opened #197 "Request - machine(s) to use for OpenTelemetry PHP SIG"
### First and Last Name
Timo Michna

### Email
timomichna/yahoo.de

### Company/Organization
freelancer

### Job Title
Software Engineer / Engineering Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)
Performance tests for OpenTelemetry PHP
E2E tests for OpenTelemetry PHP on different runtimes and against dif

[2021-12-16 00:06] caniszczyk commented on #197
+1

On Wed, Dec 15, 2021 at 5:51 PM Timo Michna ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-24 00:59] fkautz commented on #115
Did we ever get results on this? It would be good to link here just for completeness.

[2021-12-27 14:33] #159 closed

[2021-12-28 12:34] idvoretskyi commented on #115
cc @leecalcote on the above ^

[2022-01-03 15:47] bobstrecansky commented on #197
Bump for the new year on this!

[2022-01-04 19:01] tidal commented on #197
@idvoretskyi
No problem and thank you for your response.

To clarify a bit. OpenTelemetry is an umbrella project for lots of different (more or less independent) SIGs.
The Otel project which exists at the moment on Equinix Metal seems to be actually for performance testing of OTEL-JAVA.
Performance testing is only one of the aspects we would need server resources for, and we probably have a very d

[2022-01-04 19:35] idvoretskyi commented on #197
@tidal yes, I'm well-aware of the Otel project structure, but thanks for the clarification :)

No problem; created a new project for you and sent you an invite. Enjoy!

[2022-01-04 19:50] tidal commented on #197
@idvoretskyi
Thank you so much!!!

[2022-01-10 22:21] leecalcote commented on #115
@fkautz, thank you for following up on this.

@vielmetti, right, no, we never completed (started) this testing. We're ready to commit to doing so now, though. What's the best way to go about getting rolling? // @gyohuangxin

[2022-01-11 14:31] vielmetti commented on #115
@leecalcote if you're up for a call to plan this I can probably answer a lot of questions in an interactive session faster and more accurately than a back-and-forth by text. We have a number of 3d generation configurations current as well as "coming soon" and that would help me sort out some best available options. https://calendly.com/evielmetti is my scheduling link. Once we get a spec for what

[2022-01-20 21:50] vielmetti commented on #115
Good call today with @leecalcote  and crew, and I think there are meeting notes though I don't have the link handy.

The architecture that I think will work is 1x small node as a Github self-hosted runner that will have a long-running setup, and then also some on-demand systems (size and scale TBD) where the project would spin up a cluster, install all of the necessary software, launch some tests,

[2022-01-27 09:17] w3aman opened #198 "Request Infrastructure for OpenEBS project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-01-27 11:10] idvoretskyi commented on #198
/cc @caniszczyk for approval.

[2022-01-27 11:10] #197 closed

[2022-01-27 17:05] idvoretskyi commented on #198
@w3aman invites sent.

[2022-02-01 14:49] idvoretskyi commented on #115
@leecalcote invites sent!

[2022-02-04 15:23] tidal commented on #197
@idvoretskyi

Could you please add my fellow maintainers to the project?
- bob.strecansky@gmail.com
- brett.a.mcbride@gmail.com

Thank you.

[2022-02-07 03:37] ashwani547 opened #199 "CIL for Learning Purpose"
Dear Team,

I am new to CNCF CKA and wanted to learn more about this using some hands on experience, So requesting for CIL access.

Regards,
Aswhani Kumar

[2022-02-16 14:26] #56 closed

[2022-02-26 10:00] boujrida opened #200 "Subscribtion Request to the CNCFR Community Infra Lab"
Subscribtion Request to the CNCFR Community Infra Lab

[2022-03-17 18:44] onlydole opened #201 "Onlydole access request for the community cluster"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-03-17 19:01] idvoretskyi commented on #201
@onlydole invited!

[2022-03-17 19:01] #201 closed

[2022-03-17 19:01] onlydole commented on #201
Thank you so much, @idvoretskyi 😄

[2022-03-22 18:36] charlesa101 opened #202 "Kubeflow Testing Infrastructure"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-03-23 01:39] caniszczyk commented on #202
I'm OK with this but since this is a Google project why isn't GCP fronting infra?

[2022-03-23 08:51] STRRL opened #203 "Chaos Mesh CI Infrastructure"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-03-23 12:18] caniszczyk commented on #203
+1

On Wed, Mar 23, 2022 at 3:52 AM STRRL ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-23 23:05] charlesa101 commented on #202
This is not in Google project @caniszczyk

[2022-03-23 23:17] caniszczyk commented on #202
if you have to sign a Google CLA it's a Google project imho!
https://github.com/kubeflow/kubeflow/pull/6406/checks?check_run_id=5627031393

We can help you in the short term for sure

On Wed, Mar 23, 2022 at 6:06 PM charles adetiloye ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-30 20:32] vielmetti commented on #202
If I understand the request correctly, the ask is to add @charlesa101 to the existing project 7772b4fd-926c-48c6-ac50-36461b711b9a (name "Kubeflow Testing Infra") that was previously approved here at #152 in a request from @mameshini . Charles has been working with that team.

[2022-03-31 18:41] jeefy commented on #202
For the short-term, invited `charles@mavencode.com` to the existing project @vielmetti mentioned above so that we aren't blocking anything.

[2022-04-11 15:46] jeefy commented on #14
I can't find any existing project within Equinix for Etcd. As this has been ~5yrs in the past, could you submit a new issue outlining the request?

Once it's +1'd I can grant access pretty quickly.

Thanks!

[2022-04-12 19:03] hh opened #204 "hh@cncf.io => CNCF Community Infrastructure Administrator"
### First and Last Name

Hippie Hacker

### Email

hh@cncf.io

### Company/Organization

CNCF

### Job Title

Strategic Initiatives Contractor from ii.nz

### Project Title

CNCF Community Infrastructure

### Briefly describe the project

Assist in administration of CNCF Project sub accounts.

[2022-04-12 19:03] hh commented on #204
/assign @jeefy

[2022-04-18 06:08] innobead opened #205 "Request adding members to access existing Longhorn projects on the CNCF CL Cluster"
### First and Last Name

David Ko

### Email

dko@suse.com

### Company/Organization

SUSE

### Job Title

Senior Engineering Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Longhorn development & CI infra

### Briefly describe the project (i.e., what is the detail of what you're planning to do with these

[2022-04-18 07:52] caniszczyk commented on #205
+1

On Mon, Apr 18, 2022 at 1:08 AM David Ko ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-04-19 06:55] STRRL commented on #203
Hi! We have received the invitation from equinix metal! Thanks a lot!

[2022-04-19 13:53] caniszczyk commented on #204
@jeefy or @vielmetti can you get hh admin access thx

[2022-04-19 14:06] jeefy commented on #205
@innobead Both emails should have been sent invites. :) There were two projects, `Longhorn` and `Longhorn Development`.
/close

[2022-04-19 14:06] #205 closed

[2022-04-19 14:07] jeefy commented on #204
hh Should have an invite now. :)

[2022-04-19 14:41] innobead commented on #205
Thank you @jeefy @caniszczyk !

[2022-04-19 14:44] #203 closed

[2022-04-19 14:46] vielmetti commented on #204
Super!

When you all are all squared away, we should pick a time for a sync and I can walk you all through some administrative and accounting and upgrades we are working on here at @equinix that will be relevant to the CNCF project.

[2022-04-19 18:48] caniszczyk commented on #204
wohooo thanks @vielmetti, maybe find time after kubecon EU or in Valencia if you're there :)?

[2022-04-19 18:48] #204 closed

[2022-04-19 19:45] hh commented on #204
I've got access now. Thanks @caniszczyk & @jeefy!

@vielmetti keen to see what admin and accounting options you've been working on. I'll ping you on slack.

[2022-04-19 21:18] anoncam opened #206 "Apply to Use the On-Demand Infrastructure"
I would like access to use the community on-demand infrastructure

[2022-04-20 01:14] innobead commented on #205
@jeefy Derek has not received the invite yet, could you help check it? Thank you.

Derek Su ([derek.su@suse.com](mailto:derek.su@suse.com)),

[2022-04-20 02:43] jeefy commented on #205
Must have missed the third email, my bad! Invited. :)

[2022-04-20 02:48] innobead commented on #205
Thank you @jeefy !

[2022-04-21 20:25] vielmetti commented on #77
@riverzhang @Miouge1 -

Remember when I said that Tokyo would be a good place to deploy a server? It was, for about 10 months. Now we need that server back to fulfill a contract.

https://github.com/cncf/cluster/issues/77#issuecomment-889973827

I'll share guidance on alternatives - if you can do a migration of that system promptly once I find you a suitable alternative location I would appreciate

[2022-04-21 20:26] vielmetti commented on #206
@anoncam -

Please use the "CNCF Community Lab Cluster request" template when you create a new issue, which will ask you the necessary questions to help evaluate your request.

[2022-04-21 20:26] #206 closed

[2022-04-22 08:14] Miouge1 commented on #77
@vielmetti thank you for the info. We are talking about server ID a95d5686-48d7-41c6-b78e-2a67fe71b063 right?

I did not know about this server. The UI says "created by @riverzhang", it has some pods on it "karmada-runner" and some kubevirt:
[code]

@riverzhang can you explain and could you cleanup or migrate as requested?

[2022-04-22 11:42] vielmetti commented on #77
This looks like Karmada https://github.com/karmada-io/karmada - it is a CNCF Sandbox project. I don't know much more than what it says about itself:

"Karmada (Kubernetes Armada) is a Kubernetes management system that enables you to run your cloud-native applications across multiple Kubernetes clusters and clouds, with no changes to your applications. By speaking Kubernetes-native APIs and providi

[2022-04-22 14:26] cristicalin commented on #77
Hello folks!

We recently hit an issue with the two nodes kubernetes cluster set up on equinix metal which we use for the kubespray CI. The situation the cluster is in right now is not easily recoverable (see https://github.com/kubernetes-sigs/kubespray/issues/8736) and we would like to ask permission to spin up a new cluster and move our CI over to the new one. This would require us to run the tw

[2022-04-22 14:45] vielmetti commented on #77
Side by side setup is fine to make a transition. Please use gen3 instances (e.g. c3.small) instead of gen1 or gen2 (e.g. t1.small) for the new cluster, as mentioned about @cristicalin above we are migrating away from our legacy data centers.

[2022-04-22 14:52] vielmetti commented on #77
Thanks @Miouge1 .

@riverzhang - I don't know your working hours, and I am hopeful that we can get this promptly resolved.

[2022-04-25 21:10] TylerHelmuth opened #207 "Request - Machine to use with the performance tests for OpenTelemetry"
### First and Last Name

Tyler Helmuth (@TylerHelmuth)

### Email

thelmuth@newrelic.com

### Company/Organization

New Relic

### Job Title

Sr. Software Engineer - Open Source

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Performance tests for OpenTelemetry

### Briefly describe the project (i.e., what is the

[2022-04-25 22:57] caniszczyk commented on #207
+1

On Mon, Apr 25, 2022 at 4:10 PM Tyler Helmuth ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-04-27 11:28] innobead opened #208 "Request adding members to access existing Longhorn projects on the CNCF CL Cluster"
### First and Last Name

David Ko

### Email

dko@suse.com

### Company/Organization

SUSE

### Job Title

Senior Engineering Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Longhorn development & CI infra

### Briefly describe the project (i.e., what is the detail of what you're planning to do with these

[2022-04-28 19:26] vielmetti commented on #77
The CI and server reclamation issues have been resolved, thanks @mattymo for sorting this out.

[2022-04-28 19:34] vielmetti opened #209 "kubespray - update list of authorized users"
In #77 recently we had to scramble a bit to find the right people with Equinix CNCF CIL accounts to have access to the cluster.

For Kubespray it would be good to review the current list, identify any changes, and carry those out.

Attn kubespray: @miouge1 @mattymo
Attn CNCF: @caniszczyk @jeefy @hh
cc @idvoretskyi

[2022-04-28 19:35] vielmetti commented on #209
In particular it was reported that @riverzhang is not currently active on the project, but has system access, which might be something to correct in some way.

[2022-04-28 19:39] vielmetti commented on #118
Opening this issue briefly for notification, then closing in favor of a new one.

[2022-04-28 19:45] vielmetti opened #210 "Kube-OVN project review"
In #118 a proposal was made for Kube-OVN to get short term
access to resources to support a specific task. Since then, the
project has been busy, with a last login and last deploy of several
systems this month.

Mengxin Liu from @alauda has been deploying systems. I would like
to review this project for several aspects:

- does it merit a new proposal?
- are the resources actually being used for K

[2022-04-28 19:46] vielmetti commented on #118
@oilbeater @edwarnicke

please see https://github.com/cncf/cluster/issues/210 - this project should have completed by now, yet there is still activity in this account.

[2022-04-28 19:46] #118 closed

[2022-04-28 19:46] vielmetti commented on #210
attn @oilbeater @edwarnicke

[2022-04-29 02:11] oilbeater commented on #210
Hi @vielmetti , the origin task in the proposal has finished. But our members in the team are still using this account to do some development and investigation work related to Kube-OVN. I think we should close the project and make new proposal when needed. Sorry for the inconvenience.

[2022-05-04 15:50] joshimoo commented on #208
@innobead @caniszczyk @idvoretskyi just following up, in case this has already been completed, what would the access steps be?

[2022-05-04 18:05] caniszczyk commented on #208
+1

On Wed, May 4, 2022 at 11:04 AM Sheng Yang ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-05-04 18:13] yasker commented on #208
Thank you Chris!

@vielmetti Can you or someone from Equinix Metal help with setting up the accounts for David Ko (dko@suse.com) and Joshua Moody (joshua.moody@suse.com)? Let us know if you need any other information.

[2022-05-05 01:57] vielmetti commented on #208
cc @jeefy @hh who should have access to do this from the customer portal

[2022-05-05 05:44] innobead commented on #208
I already have that access, so this ticket to get @joshimoo the same permission.

[2022-05-05 13:15] vielmetti commented on #210
Thanks @oilbeater - can we close the project now, and can you put in a new request for the new work if needed?

[2022-05-05 13:15] vielmetti commented on #209
has anyone heard from @riverzhang ? I have not.

[2022-05-05 13:18] vielmetti commented on #202
A presentation on "KF-Metal" will be given at OSS NA 2022 in Austin in June.

[2022-05-06 02:07] oilbeater commented on #210
@vielmetti Yes, the project can be closed now.

[2022-05-09 10:50] innobead commented on #208
@jeefy could you help with this? thank you.

[2022-05-09 15:10] yasker commented on #208
@jeefy @hh can you help with Joshua's account soon? We're trying to show a Longhorn demo in KubeCon EU 2022 (which will happen in a week), using Equinix Metal. We're blocked by this permission issue at the moment.

[2022-05-10 05:47] hh commented on #209
Last commit was https://github.com/kubernetes-sigs/kubespray/commit/d4a36aa55b9af029730e10e7bd7a55d0e5df78d4 which is Feb 19, 2019. I'm checking in with a couple community members since he hasn't had any Kubespray interactions since 2020.

Note the move to EMERITIS : https://github.com/kubernetes-sigs/kubespray/commit/aeaa876d576a2d4e1af0b8becfd69bd5c5d94d72

My suggestion is to ensure that OWNERS

[2022-05-10 07:03] riverzhang commented on #209
@vielmetti  @hh  I'm on vacation during this time and I'm sorry I missed these messages.

[2022-05-10 07:16] riverzhang commented on #77
@vielmetti  Do a demonstration in the karmada community, borrowing the service of kubespray.I'm sorry I didn't delete it in time.

[2022-05-10 07:17] riverzhang commented on #77
@vielmetti Do a demonstration in the karmada community, borrowing the service of kubespray.I'm sorry I didn't delete it in time.

[2022-05-19 02:09] vielmetti commented on #115
Reopening this issue to reflect a request for addtional folks on the project and to alert @hh of that.

[2022-05-19 20:03] TylerHelmuth commented on #207
@caniszczyk @idvoretskyi can @dmathieu be given access as well?

[2022-05-31 09:33] riverzhang opened #211 "Karmada CI Infrastructure"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-06-01 15:57] kenfinnigan opened #212 "Observe k8s WG Demo Infrastructure"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-06-06 03:50] jeefy commented on #211
@riverzhang has been invited! :)

/assign
/close

[2022-06-06 03:50] #211 closed

[2022-06-08 15:13] halcyondude commented on #212
Questions for CNCF CIL folk...

* do we have dedicated interconnects (e.g. BGP) to route between VPC endpoints in azure/gcp/aws, or must we traverse public internet?
* Do we have a preferred k8s distro/cluster config for use in the CIL?  Something via crossplane.io, or CAPI, or a pile of terraform, etc? We would prefer some degree of managed cluster (potentially) so that we don't burn opportunity

[2022-06-27 18:08] #210 closed

[2022-06-28 14:50] jeefy commented on #202
With Charles added to the existing Kubeflow testing project, is this considered complete?

[2022-06-28 14:51] jeefy commented on #208
Joshua's been added to this team (finally! Sorry :frowning: ) so marking this complete.

[2022-06-28 14:58] jeefy commented on #207
Invited @TylerHelmuth and @dmathieu (using the email on their GitHub) :)

[2022-06-28 14:58] #207 closed

[2022-06-28 15:07] jeefy commented on #209
I feel like this should be handled by the Kubespray folks and not the CNCF. There's not an easy 1:1 mapping of an OWNERS file to emails in an Equinix project. I'd suggest as part of a project's annual report process, they do some housekeeping of resources like this.

Thoughts?

[2022-06-28 15:24] jeefy commented on #212
* Not 100% sure. I know you can set up BGP routes, but I don't know enough to confidently answer. (cc @vielmetti )
* There is no preferred method here. Usually projects are coming in here with specific requests in mind, spin up machines, and go to town.
* Similar to above, it's however you want. Let's Encrypt is probably the norm here (via Cert-Manager)
* There's no central secrets manager for the

[2022-06-28 15:25] caniszczyk commented on #212
+1

On Tue, Jun 28, 2022 at 10:24 AM Jeffrey Sica ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-06-28 15:28] jeefy commented on #114
@vielmetti Have you been able to talk to/ping the Fluent folks or do we need to reach out via other channels?

[2022-07-09 14:14] svenstaro opened #213 "Add Arch Linux service account to packet.net CNCF project"
I'd like to request the addition of a service account to our CNCF Arch Linux Equinix account. We'd like to use equinix@archlinux.org for this. Previous issues: https://github.com/cncf/cluster/issues/158 and https://github.com/cncf/cluster/issues/102.

[2022-07-09 17:35] caniszczyk commented on #213
+1

On Sat, Jul 9, 2022 at 9:14 AM Sven-Hendrik Haase ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-17 03:17] svenstaro commented on #213
So can you guys just add the account?

[2022-07-21 07:55] divyaint opened #214 "Want to access hardware compute"

[2022-07-28 16:57] thejohncrafter opened #215 "Run NixOS tests to improve security configuration"
### First and Last Name

Julien Marquet-Wagner

### Email

j@recursor.wf

### Company/Organization

Independent Contributor, with support from the nlnet foundation

### Job Title

Software Engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Improve the security of nixos services by automatically discovering t

[2022-08-09 02:27] StalinBabuG opened #216 "Cluster access request"
Hi Team,

Can you please provide K8s access to test the Automation deployments.
Thanks in advance.

Thank you

[2022-08-24 18:57] kenfinnigan commented on #212
@jeefy what are the next steps for this process? Is there anything additional I need to provide or do? Thanks

[2022-08-29 14:25] hh commented on #212
Invitation sent to [ken@kenfinnigan.me](mailto:ken@kenfinnigan.me) to join the new observe-k8s infrastructure account.

[2022-08-31 12:03] hh commented on #212
Created k8s-observe and invited these four via email:
- Ken Finnigan @kenfinnigan
- Matt Young @halcyondude
- michael.hausenblas
- henrik.rexed

[2022-09-01 14:31] kenfinnigan commented on #212
Thanks all, will close as done

[2022-09-01 14:31] #212 closed

[2022-09-06 12:06] vasiliy-ul opened #217 "KubeVirt SEV testing"
### First and Last Name

Vasily Ulyanov

### Email

vulyanov@suse.de

### Company/Organization

SUSE

### Job Title

Senior Software Engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

KubeVirt SEV testing

### Briefly describe the project (i.e., what is the detail of what you're planning to do with these ser

[2022-09-06 12:09] vasiliy-ul commented on #217
/cc @aburdenthehand, @alicefr, @rmohr, @xpivarc

[2022-09-10 04:21] matttrach opened #218 "On-demand infrastructure application"
Hello! I would like access to the CNCF on-demand infrastructure for validating Kubernetes configurations and IAC implementations.
My goals are to develop some Terraform modules to deploy infrastructure for validating Kubernetes distros with the end goal of achieving some continuous deployment of artifacts relating to specific Kubernetes hardware/software configurations.
The target audience is Kube

[2022-09-11 12:56] caniszczyk commented on #218
Is this for a CNCF project in particular or just a side project? Is the code open sourced?

[2022-09-11 12:57] caniszczyk commented on #217
+1 cc: @jeefy

[2022-09-11 12:57] #216 closed

[2022-09-11 12:57] caniszczyk commented on #214
no detailed issue

[2022-09-11 12:57] #214 closed

[2022-09-12 15:23] matttrach commented on #218
If I get access to the infrastructure (necessary for development) the source code will be open (on GitHub) and the modules published on Hashicorp's Terraform registry. This would be a separate effort from any currently recognized CNCF project, but my goal is to provide a solution which Kubernetes distros could easily adopt. Terraform modules of this kind are not meant to be directly used as live i

[2022-09-12 16:24] caniszczyk commented on #218
for now we are prioritizing CNCF projects/maintainers, so sorry

[2022-09-12 16:24] #218 closed

[2022-09-23 12:24] fmuyassarov opened #219 "Compute resource for kubernetes-sigs/node-feature-discovery"
### First and Last Name
Feruzjon Muyassarov

### Email
feruzjon.muyassarov@intel.com

### Company/Organization
Intel

### Job Title
Cloud orchestration software engineer

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)
Run end to end test as pre-submit test for kubernetes-sigs/node-feature-discovery

### Briefly des

[2022-09-27 07:11] fmuyassarov commented on #219
Hi @caniszczyk . Thanks for the quick response. Is there any further step I need to take to proceed with this request ?

[2022-09-29 12:03] thejohncrafter commented on #215
Hi @caniszczyk @idvoretskyi, what can I do to bring this request further ? :)

[2022-10-10 17:40] vielmetti commented on #148
Reopening as there is a new team on the project.

[2022-10-10 17:41] gunamata commented on #148
Hi, Due to some organization changes, we would like to get access to the k3s infrastructure for couple of people on the SUSE k3s team. Can you please advise us on the process? Thank you in advance.

[2022-10-10 17:43] vielmetti commented on #148
^ attn @jeefy

[2022-10-12 15:52] ml8mr commented on #148
This is starting to get urgent, so any advice would be appreciated.

[2022-10-17 17:03] spowelljr opened #220 "Remove user from `minikube integration testing`"
Please remove jklaas@google.com from the `minikube integration testing` project, thank you.

[2022-10-21 00:58] zhuyuanmao opened #221 "Request a virtual machine for Hyperledger Cello project"
Please fill out the details below to file a request for access to the CNCF Community Infrastructure Lab. Please note that access is targeted to people working on specific open source projects; this is not designed just to get your feet wet. The most important answer is the URL of the project you'll be working with. If you're looking to learn Kubernetes and related technologies, please try out [Kat

[2022-10-21 04:36] innobead opened #222 "Request adding members to access Longhorn projects on CIL cluster"
### First and Last Name

David Ko

### Email

dko@suse.com

### Company/Organization

SUSE

### Job Title

Senior Engineering Manager

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

Longhorn development

### Briefly describe the project (i.e., what is the detail of what you're planning to do with these servers?)

[2022-10-21 04:37] innobead commented on #222
@caniszczyk Could you help with this? Thanks!

[2022-10-25 13:53] fmuyassarov commented on #219
@jeefy @caniszczyk can @marquiz be given access as well?

[2022-10-28 05:38] innobead commented on #222
Hi, @caniszczyk any update? or anyone can help with this. Thanks first!

[2022-11-01 07:19] innobead commented on #222
@jeefy could you help with that? Thanks.

[2022-11-10 17:46] arsulegai opened #223 "Getting started with Hyperledger Foundation"
**Background:** I am from Hyperledger Foundation community. The scope of Hyperledger Foundation is to host blockchain and multiparty systems projects under the Linux Foundation. The current year I am mentoring a Linux Foundation Mentorship project about getting started on blockchain technology. Refer to the code base at https://github.com/hyperledger-tooling/start-here-hyperledger.

**Request:** T

[2022-11-15 16:02] austinlparker opened #224 "Requesting cluster for OpenTelemetry Demo"
The OpenTelemetry Demo (https://github.com/open-telemetry/opentelemetry-demo) repository needs x86 and ARM build runners in order to build native container images.

Name: Austin Parker
E-Mail: austin@ap2.io
Organization: OpenTelemetry

**Project Information**
The OpenTelemetry Demo is a sample project that demonstrates a production deployment of OpenTelemetry, a framework for generating telemetry

[2022-11-22 06:50] vasiliy-ul commented on #217
Gentle ping here. Any update?

[2022-11-25 00:07] fmuyassarov commented on #219
Hi @jeefy @caniszczyk  sorry to bother you again. Any chance that we can get this ticket resolved any time soon?

[2022-11-30 12:44] vielmetti commented on #115
Two requests for this project:

The automation process is not always automatically cleaning up idle machines. The current system count in our DA metro is 33, which is well over the expectation. If you could go a quick check and clobber anything that is actually not in use I'd appreciate it - and if the project could open up an issue to track the automation task that would be helpful too.

Second,

[2022-11-30 14:00] vielmetti commented on #198
Hello - I'd like to request that the administrators of this project look at two things:

First, there is a single system "maya-master" currently provisioned in our EWR1 data center. We are migrating out of that data center, and as a consequence that system's functions will need to be moved elsewhere.

Second, the current machine count for this project is at 28 machines, which is on the high end fo

[2022-11-30 14:52] vielmetti commented on #175
The current usage of Harbor on the CNCF CIL is as follows:

16 systems total, of which:

5x c1.large.arm in EWR1
2x c2.medium in DFW2
9x c3.medium in DA

Three requests for the project:

We are migrating away from our legacy data centers in EWR1 and DFW2. In addition, we are moving away from our legacy c1.large.arm system.

Please migrate your workload from the 5x c1.large.arm systems to our new c

[2022-11-30 15:08] vielmetti commented on #52
The Plushu project currently has two systems in use, 2x t1.small in SJC1.

Our SJC1 data center is going away, and our t1.small instance type is going away, so some kind of migration would be necessary if CNCF CIL support for this project is to continue.

In addition, one of the t1.small systems is running a very very old "Flatcar Edge" operating system, support for which is ending (in favor of ou

[2022-11-30 15:42] vielmetti commented on #78
@tossmilestone @jeefy

Another data center migration request for you.

We are closing our NRT1 and SJC1 data centers. Your current configuration has two systems in NRT1 and one in SJC1, so the request is to rebuild the entire infrastructure.

Our capacity dashboard should help you figure out a good location https://deploy.equinix.com/developers/capacity-dashboard/ for your needs - compared to the

[2022-11-30 15:49] vielmetti commented on #114
@jeefy I have not heard from the Fluent folks since the May 6 outreach here, we're going to need to reach out via other channels.

[2022-11-30 16:03] vielmetti commented on #77
@Miouge1 @jeefy

Reopening for more data center migration issues.

As I mentioned back in April:

The time has come to do this migration, as our AMS1 center is closing. We have an equivalent alternative in our AM (Amsterdam) metro. There are three systems to be migrated (a Kubernetes cluster and a Docker machine runner). I see that the vast bulk of the on-demand testing is happening in our DA metr

[2022-11-30 16:21] vielmetti commented on #83
@chavafg @jeefy

Reopening this to handle a data center migration task.

There is a single machine currently in use in the Kata Containers project, "kata-metric6", in our SJC1 data center. That data center is closing.

We have capacity in our SV data center (Silicon Valley, same metro) available for you to set up a new system in.

Our hardware options have changed somewhat, and the legacy c1.small

[2022-11-30 17:06] vielmetti commented on #202
Yes, this looks complete. (No data center migration needed, this project is already all in IBX data centers). closing as done for now.

[2022-11-30 17:06] #202 closed

[2022-11-30 17:13] vielmetti commented on #213
The Arch Linux account is up and running, so that part of this request is complete.

Two of the systems in use - runner2.archlinux.org and repro1.pkgbuild.com - are located in an Equinix data center, AMS1, that is scheduled to be shut down. @svenstaro can you work with me to migrate to a new data center? We have facilities available cross town in our AM metro.

attn @jeefy

[2022-11-30 17:21] vielmetti commented on #192
Reopening to address a data center migration and system change issue to the attention of @alexmt @jeefy .

The Arm server currently running in the Argo GHA project is a c1.large.arm system in SJC1, sv-c1-large-arm-01.

Our data center in SJC1 is closing, and our c1.large.arm system type is being retired. We have a replacement system type, c3.large.arm64, which is a much more capable replacement.

[2022-11-30 17:40] vielmetti commented on #111
The "Hyperledger Ursa" project in the CIL has been closed out, due to non-use since 2019. Please feel free to open up a new issue if there's any future need for use.

[2022-11-30 17:40] #111 closed

[2022-11-30 17:45] vielmetti commented on #115
This project had two accounts at Equinix ("Service Mesh Benchmarking" and "Service Mesh Performance"). I've updated this issue to reflect the project name in use, and to close out the (empty) duplicate project.

[2022-11-30 17:49] vielmetti commented on #70
The "LLVM Compiler" project was never used; it has now been removed.

[2022-11-30 17:49] #70 closed

[2022-11-30 17:52] vielmetti commented on #90
This project is complete, with no activity since 11/2018. I have removed the project from the CIL account.

[2022-11-30 17:52] #90 closed

[2022-11-30 17:54] vielmetti commented on #95
This project was completed in

[2022-11-30 17:54] #95 closed

[2022-11-30 17:56] #105 closed

[2022-11-30 17:59] vielmetti commented on #82
This project has been completed, and all of the associated infrastructure has been turned down. If there's a need for additional infrastructure to accommodate a new project, please open up a new issue. thanks!

[2022-11-30 17:59] #82 closed

[2022-11-30 18:03] vielmetti commented on #103
This project is complete, with the last machines from it deleted in May 2021.  I've removed the project, and if additional resources are needed please open a new issue. thanks!

[2022-11-30 18:03] #103 closed

[2022-11-30 18:06] vielmetti commented on #122
This project never deployed any systems, and so it is closing now. If there is a requirement to start up a new project, please open a new issue to reflect current thinking. Thanks!

[2022-11-30 18:06] #122 closed

[2022-11-30 18:09] vielmetti commented on #135
There has been no usage on this project since its creation in December 2020.  I have closed the project out as a consequence. If there is a new request for resources, please open up a new issue. Thanks!

[2022-11-30 18:09] #135 closed

[2022-11-30 18:25] vielmetti commented on #180
This project was approved and the account set up 8/2021 but there has been no usage since that date. I've closed out the project as a consequence. Please feel free to re-apply if there is an ongoing need.

[2022-11-30 18:25] #180 closed

[2022-11-30 18:26] RaitoBezarius opened #225 "Request for a cluster access for development & integration testing for NixOps + Proxmox"
### First and Last Name

Ryan Lahfa

### Email

ryan ⋅ lahfa @ xyz

### Company/Organization

Independent Contributor

### Job Title

Magician of all stacks

### Project Title (i.e., a summary of what do you want to do, not what is the name of the open source project you're working with)

NixOps for Proxmox & Proxmox on NixOS.

### Briefly describe the project (i.e., what is the detail of what you

[2022-11-30 18:28] vielmetti commented on #86
This project has been completed, and has not seen activity since October 2021 when the last server was removed. I've removed the project from the CNCF CIL. If there is a need for any additional resources, please open a new issue. Thanks!

[2022-11-30 18:28] #86 closed

[2022-11-30 18:41] vielmetti commented on #188
For some reason, the invitation sent to @ksatchit never was received. resending.

[2022-11-30 18:45] vielmetti commented on #123
All of the infrastructure associated with the Falco project at the CNCF CIL has been turned down as of 04/08/2022.

@leodido is this project complete, or do you anticipate future use of it here?

[2022-11-30 21:03] vielmetti commented on #225
@RaitoBezarius A few things to think about for this.

AFAIK neither NixOS nor Proxmox are CNCF projects, so this falls in the third category here (from the README)

We've generally had the best luck from projects that have had 2 or more contributors, in part because of the typical complexity of cloud native projects, but also from an organizational standpoint there are benefits to having the respo

[2022-11-30 21:12] RaitoBezarius commented on #225
Understandable ; currently, `nixops-proxmox` is too "early" to be used due to many edge cases which are difficult to treat because of a lack of access to a Proxmox cluster I can reset a lot of times (hence the need of "baremetal cloud" or to acquire such a machine and maintain it myself, etc.). Actually, technically, `nixops-proxmox` had two contributors (me and a surprising contribution), but the

[2022-11-30 21:20] svenstaro commented on #213
We'll take a look, thanks for bringing that up.